<div class="col-md4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Digite el correo del usuario</h2>
        </div>
        <div class="card-body">
            <form action="/admin/selectUser" method="post">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Consultar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>